<div>
    <div class="table-responsive" *ngIf="timeTasks">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Start</span></th>
                <th><span>Stop</span></th>
                <th><span>Note</span></th>
                <th><span>User</span></th>
                <th><span>Project</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeTask of timeTasks ;trackBy: trackId">
                <td><a [routerLink]="['/time-task', timeTask.id, 'view' ]">{{timeTask.id}}</a></td>
                <td>{{timeTask.start | date:'mediumDate'}}</td>
                <td>{{timeTask.stop | date:'mediumDate'}}</td>
                <td>{{timeTask.note}}</td>
                <td>
                    {{timeTask.user?.login}}
                </td>
                <td>
                    <div *ngIf="timeTask.project">
                        <a [routerLink]="['../project', timeTask.project?.name, 'view' ]" >{{timeTask.project?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/time-task', timeTask.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-task', timeTask.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-task/'+ timeTask.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
